*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: transparent;
  border: 1px solid currentColor;
}

.flex {
  display: flex;
}

input {
  border-radius: 0;
  border: 1px solid currentColor;
}

.mb {
  margin-bottom: 1em;
}

.mb-l {
  margin-bottom: 3em;
}

.title {
  font-weight: bold;
}
